@if (TempData["success"] != null) 
{
    <h4 class="mt-2 p-1 text-bg-success ">@TempData["success"]</h4>
}

@if (TempData["error"] != null) 
{
    <h4 class="mt-2 p-1 text-bg-success ">@TempData["error"]</h4>
}