@model Category

<form method="post" class="pt-3">
    @* <input asp-for="Id" hidden/> Required if the Id name was different, otherwise creates new record *@
    <fieldset class="border">
        <legend class="p-2">Edit Category</legend>
        <div class="p-2">
            <label asp-for="Name" class="form-label mt-2"></label>
            <input asp-for="Name" class="form-control" placeholder="Self Help">
            <span asp-validation-for="Name" class="text-warning"></span>
        </div>
        <div class="p-2">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control" placeholder="5" autocomplete="off">
            <span asp-validation-for="DisplayOrder" class="text-warning"></span>
        </div>
        @* <div asp-validation-summary="All"></div>  DISPLAYS ALL ERROR MESSAGES AT ONE PLACE*@
        @* <div asp-validation-summary="ModelOnly"></div> DISPLAYS ERROR GLOBALLY, RELATED TO THAT MODEL *@
        <div class=" p-2">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-outline-light">
                Return to List
            </a>
        </div>

    </fieldset>
</form>

@*Adding client side validation using inbuilt validation scripts*@
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
        // Automatically checks in the Shared directory as Partial views are stored their by default
    }
}