@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome to the BulkyWeb!</h1>
    <p >World's largest store of antique books</p>
</div>
